body {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doggo-image {
  width: 30%
}

 select {
 	color: red;
 }

 span {
   color: blueviolet;
   background-color: cornsilk;;
 }